<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuizShare Confirmation</title>
  <link rel="stylesheet" href="./styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="flex flex-col justify-center min-h-screen py-6 bg-gray-100 sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div
        class="absolute inset-0 transform -skew-y-6 shadow-lg bg-gradient-to-r from-indigo-400 to-light-purple-500 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
      </div>
      <div class="relative px-4 py-10 bg-white shadow-xl sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div class="w-full py-2">
            <h1 class="text-4xl font-bold text-center text-purple-600 font-berkshire">
              Qs
            </h1>
          </div>
          <div class="divide-y divide-gray-200">
            <h2 class="py-6 text-3xl font-extrabold text-center text-gray-800 font-inter">
              Welcome to QuizShare
            </h2>
          </div>
          <div class="divide-y divide-gray-200">
            <div class="py-6 space-y-3 text-base leading-6 text-gray-700 sm:text-lg sm:leading-7">
              <p class="text-xl font-bold">Hello Mj!</p>
              <p>Thank you for signing up for QuizShare. I'm really happy to have you!</p>
              <p>Please confirm that <span class="font-bold break-all">michaeljamescarnaje@gmail.com</span> is your e-mail address by clicking on the button below within 24 hours</p>
            </div>
            <div class="pt-6 ">
              <button type="button" class="w-full p-3 text-lg font-medium leading-6 text-purple-800 bg-purple-100 rounded-lg font-poppins sm:text-lg sm:leading-7 focus:outline-none hover:bg-purple-200 hover:shadow-md">Verify</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>